In [1]:
#import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
#Read the flights
df = pd.read_csv('data/flights.csv')
df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-05-31,WN,WN,WN,2081,WN,N402WN,2081,10800,BUR,...,326,0.0,0.0,51.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2019-04-20,AA,AA,AA,2244,AA,N895NN,2244,13930,ORD,...,801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-02-13,WN,WN,WN,1731,WN,N8507C,1731,13495,MSY,...,302,0.0,0.0,0.0,0.0,18.0,NaN,NaN,NaN,NaN
3,2018-11-20,AA,AA,AA,2620,AA,N961AN,2620,11298,DFW,...,761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-08-28,DL,DL_CODESHARE,DL,4060,9E,N833AY,4060,12478,JFK,...,228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# data sctructure
df.describe()

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,196767.000000,196717.000000,196576.000000,196576.000000,196496.000000,...,200000.000000,37803.000000,37803.000000,37803.000000,37803.000000,37803.000000,1378.000000,1378.000000,1378.000000,0.0
mean,2735.501405,2735.466465,12681.792960,12681.283465,1329.486130,1334.249752,10.669785,17.534292,1358.429773,1458.555278,...,767.843470,21.129566,3.820014,16.307330,0.078010,26.893104,1317.363570,41.957910,41.018868,NaN
std,1864.137816,1864.243219,1524.816624,1523.072185,489.735055,503.468605,49.146377,10.027231,505.074789,532.888643,...,584.542139,68.794998,33.281468,38.000328,2.032674,50.846726,502.568506,38.372231,36.256104,NaN
min,1.000000,1.000000,10135.000000,10135.000000,1.000000,1.000000,-41.000000,0.000000,1.000000,1.000000,...,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.000000,1.000000,1.000000,NaN
25%,1123.000000,1123.000000,11292.000000,11292.000000,915.000000,917.000000,-6.000000,11.000000,933.000000,1044.000000,...,339.000000,0.000000,0.000000,0.000000,0.000000,0.000000,848.000000,18.000000,18.000000,NaN
50%,2318.000000,2318.000000,12889.000000,12889.000000,1321.000000,1327.000000,-2.000000,15.000000,1340.000000,1459.000000,...,604.000000,0.000000,0.000000,3.000000,0.000000,3.000000,1335.000000,30.000000,30.000000,NaN
75%,4332.000000,4332.000000,14057.000000,14057.000000,1735.000000,1743.000000,7.000000,20.000000,1758.000000,1908.000000,...,1005.000000,18.000000,0.000000,19.000000,0.000000,33.000000,1728.750000,52.000000,51.000000,NaN
max,9390.000000,9390.000000,16869.000000,16869.000000,2359.000000,2400.000000,1522.000000,172.000000,2400.000000,2400.000000,...,5095.000000,1500.000000,1280.000000,1186.000000,139.000000,1189.000000,2359.000000,319.000000,221.000000,NaN

In [16]:
#Looking at columns and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fl_date              200000 non-null  object
 1   mkt_unique_carrier   200000 non-null  object
 2   branded_code_share   200000 non-null  object
 3   mkt_carrier          200000 non-null  object
 4   mkt_carrier_fl_num   200000 non-null  int64
 5   op_unique_carrier    200000 non-null  object
 6   tail_num             199399 non-null  object
 7   op_carrier_fl_num    200000 non-null  int64
 8   origin_airport_id    200000 non-null  int64
 9   origin               200000 non-null  object
 10  origin_city_name     200000 non-null  object
 11  dest_airport_id      200000 non-null  int64
 12  dest                 200000 non-null  object
 13  dest_city_name       200000 non-null  object
 14  crs_dep_time         200000 non-null  int64
 15  dep_time             196767 non-null  float64
 16  dep_delay            196717 non-null  float64
 17  taxi_out             196576 non-null  float64
 18  wheels_off           196576 non-null  float64
 19  wheels_on            196496 non-null  float64
 20  taxi_in              196496 non-null  float64
 21  crs_arr_time         200000 non-null  int64
 22  arr_time             196578 non-null  float64
 23  arr_delay            196160 non-null  float64
 24  cancelled            200000 non-null  int64
 25  cancellation_code    3367 non-null    object
 26  diverted             200000 non-null  int64
 27  dup                  200000 non-null  object
 28  crs_elapsed_time     200000 non-null  int64
 29  actual_elapsed_time  196193 non-null  float64
 30  air_time             196111 non-null  float64
 31  flights              200000 non-null  int64
 32  distance             200000 non-null  int64
 33  carrier_delay        37803 non-null   float64
 34  weather_delay        37803 non-null   float64
 35  nas_delay            37803 non-null   float64
 36  security_delay       37803 non-null   float64
 37  late_aircraft_delay  37803 non-null   float64
 38  first_dep_time       1378 non-null    float64
 39  total_add_gtime      1378 non-null    float64
 40  longest_add_gtime    1378 non-null    float64
 41  no_name              0 non-null       float64
dtypes: float64(19), int64(11), object(12)
memory usage: 64.1+ MB

In [17]:
# check for null values
df.isnull().sum()

fl_date                     0
mkt_unique_carrier          0
branded_code_share          0
mkt_carrier                 0
mkt_carrier_fl_num          0
op_unique_carrier           0
tail_num                  601
op_carrier_fl_num           0
origin_airport_id           0
origin                      0
origin_city_name            0
dest_airport_id             0
dest                        0
dest_city_name              0
crs_dep_time                0
dep_time                 3233
dep_delay                3283
taxi_out                 3424
wheels_off               3424
wheels_on                3504
taxi_in                  3504
crs_arr_time                0
arr_time                 3422
arr_delay                3840
cancelled                   0
cancellation_code      196633
diverted                    0
dup                         0
crs_elapsed_time            0
actual_elapsed_time      3807
air_time                 3889
flights                     0
distance                    0
carrier_delay          162197
weather_delay          162197
nas_delay              162197
security_delay         162197
late_aircraft_delay    162197
first_dep_time         198622
total_add_gtime        198622
longest_add_gtime      198622
no_name                200000
dtype: int64

In [28]:
# missing values percent in columns
def missing_values_table(df):
        '''function that checks dataframe for missing values and returns a table with the results'''
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        print(mis_val_table_ren_columns)

In [29]:
missing_values_table (df)

                           Missing Values  % of Total Values
fl_date                                 0             0.0000
mkt_unique_carrier                      0             0.0000
branded_code_share                      0             0.0000
mkt_carrier                             0             0.0000
mkt_carrier_fl_num                      0             0.0000
op_unique_carrier                       0             0.0000
tail_num                              601             0.3005
op_carrier_fl_num                       0             0.0000
origin_airport_id                       0             0.0000
origin                                  0             0.0000
origin_city_name                        0             0.0000
dest_airport_id                         0             0.0000
dest                                    0             0.0000
dest_city_name                          0             0.0000
crs_dep_time                            0             0.0000
dep_time                             3233             1.6165
dep_delay                            3283             1.6415
taxi_out                             3424             1.7120
wheels_off                           3424             1.7120
wheels_on                            3504             1.7520
taxi_in                              3504             1.7520
crs_arr_time                            0             0.0000
arr_time                             3422             1.7110
arr_delay                            3840             1.9200
cancelled                               0             0.0000
cancellation_code                  196633            98.3165
diverted                                0             0.0000
dup                                     0             0.0000
crs_elapsed_time                        0             0.0000
actual_elapsed_time                  3807             1.9035
air_time                             3889             1.9445
flights                                 0             0.0000
distance                                0             0.0000
carrier_delay                      162197            81.0985
weather_delay                      162197            81.0985
nas_delay                          162197            81.0985
security_delay                     162197            81.0985
late_aircraft_delay                162197            81.0985
first_dep_time                     198622            99.3110
total_add_gtime                    198622            99.3110
longest_add_gtime                  198622            99.3110
no_name                            200000           100.0000
unique_mkt_carrier_fl_num               0             0.0000

In [30]:
to_drop = ['tail_num',
          'taxi_out',
          'wheels_off',
          'wheels_on',
          'taxi_in',
          'flights',
          'actual_elapsed_time',  
          'air_time',
          'first_dep_time',
          'total_add_gtime',
          'longest_add_gtime',
          'no_name']

In [31]:
df = df.drop(to_drop, axis=1)
df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,...,diverted,dup,crs_elapsed_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unique_mkt_carrier_fl_num
0,2018-05-31,WN,WN,WN,2081,WN,2081,10800,BUR,"Burbank, CA",...,0,N,80,326,0.0,0.0,51.0,0.0,0.0,WN2081
1,2019-04-20,AA,AA,AA,2244,AA,2244,13930,ORD,"Chicago, IL",...,0,N,153,801,NaN,NaN,NaN,NaN,NaN,AA2244
2,2019-02-13,WN,WN,WN,1731,WN,1731,13495,MSY,"New Orleans, LA",...,0,N,75,302,0.0,0.0,0.0,0.0,18.0,WN1731
3,2018-11-20,AA,AA,AA,2620,AA,2620,11298,DFW,"Dallas/Fort Worth, TX",...,0,N,128,761,NaN,NaN,NaN,NaN,NaN,AA2620
4,2018-08-28,DL,DL_CODESHARE,DL,4060,9E,4060,12478,JFK,"New York, NY",...,0,N,98,228,NaN,NaN,NaN,NaN,NaN,DL4060

In [32]:
missing_values_table (df)

                           Missing Values  % of Total Values
fl_date                                 0             0.0000
mkt_unique_carrier                      0             0.0000
branded_code_share                      0             0.0000
mkt_carrier                             0             0.0000
mkt_carrier_fl_num                      0             0.0000
op_unique_carrier                       0             0.0000
op_carrier_fl_num                       0             0.0000
origin_airport_id                       0             0.0000
origin                                  0             0.0000
origin_city_name                        0             0.0000
dest_airport_id                         0             0.0000
dest                                    0             0.0000
dest_city_name                          0             0.0000
crs_dep_time                            0             0.0000
dep_time                             3233             1.6165
dep_delay                            3283             1.6415
crs_arr_time                            0             0.0000
arr_time                             3422             1.7110
arr_delay                            3840             1.9200
cancelled                               0             0.0000
cancellation_code                  196633            98.3165
diverted                                0             0.0000
dup                                     0             0.0000
crs_elapsed_time                        0             0.0000
distance                                0             0.0000
carrier_delay                      162197            81.0985
weather_delay                      162197            81.0985
nas_delay                          162197            81.0985
security_delay                     162197            81.0985
late_aircraft_delay                162197            81.0985
unique_mkt_carrier_fl_num               0             0.0000

In [33]:
#for null value of cancellation_code replace with NC - not cancelled
df['cancellation_code'] = df['cancellation_code'].replace(np.nan, 'NC')
print(df.cancellation_code.isnull().sum())

0

In [34]:
missing_values_table (df)

                           Missing Values  % of Total Values
fl_date                                 0             0.0000
mkt_unique_carrier                      0             0.0000
branded_code_share                      0             0.0000
mkt_carrier                             0             0.0000
mkt_carrier_fl_num                      0             0.0000
op_unique_carrier                       0             0.0000
op_carrier_fl_num                       0             0.0000
origin_airport_id                       0             0.0000
origin                                  0             0.0000
origin_city_name                        0             0.0000
dest_airport_id                         0             0.0000
dest                                    0             0.0000
dest_city_name                          0             0.0000
crs_dep_time                            0             0.0000
dep_time                             3233             1.6165
dep_delay                            3283             1.6415
crs_arr_time                            0             0.0000
arr_time                             3422             1.7110
arr_delay                            3840             1.9200
cancelled                               0             0.0000
cancellation_code                       0             0.0000
diverted                                0             0.0000
dup                                     0             0.0000
crs_elapsed_time                        0             0.0000
distance                                0             0.0000
carrier_delay                      162197            81.0985
weather_delay                      162197            81.0985
nas_delay                          162197            81.0985
security_delay                     162197            81.0985
late_aircraft_delay                162197            81.0985
unique_mkt_carrier_fl_num               0             0.0000

In [35]:
df['carrier_delay'] = df['carrier_delay'].replace(np.nan, 0)
print(df.carrier_delay.isnull().sum())

0

In [36]:
df['weather_delay'] = df['weather_delay'].replace(np.nan, 0)
print(df.weather_delay.isnull().sum())

0

In [37]:
df['nas_delay'] = df['nas_delay'].replace(np.nan, 0)
print(df.nas_delay.isnull().sum())

0

In [38]:
df['security_delay'] = df['security_delay'].replace(np.nan, 0)
print(df.security_delay.isnull().sum())

0

In [39]:
df['late_aircraft_delay'] = df['late_aircraft_delay'].replace(np.nan, 0)
print(df.late_aircraft_delay.isnull().sum())

0

In [40]:
missing_values_table (df)

                           Missing Values  % of Total Values
fl_date                                 0             0.0000
mkt_unique_carrier                      0             0.0000
branded_code_share                      0             0.0000
mkt_carrier                             0             0.0000
mkt_carrier_fl_num                      0             0.0000
op_unique_carrier                       0             0.0000
op_carrier_fl_num                       0             0.0000
origin_airport_id                       0             0.0000
origin                                  0             0.0000
origin_city_name                        0             0.0000
dest_airport_id                         0             0.0000
dest                                    0             0.0000
dest_city_name                          0             0.0000
crs_dep_time                            0             0.0000
dep_time                             3233             1.6165
dep_delay                            3283             1.6415
crs_arr_time                            0             0.0000
arr_time                             3422             1.7110
arr_delay                            3840             1.9200
cancelled                               0             0.0000
cancellation_code                       0             0.0000
diverted                                0             0.0000
dup                                     0             0.0000
crs_elapsed_time                        0             0.0000
distance                                0             0.0000
carrier_delay                           0             0.0000
weather_delay                           0             0.0000
nas_delay                               0             0.0000
security_delay                          0             0.0000
late_aircraft_delay                     0             0.0000
unique_mkt_carrier_fl_num               0             0.0000

In [18]:
# check for duplicates
df.duplicated().sum()

0

In [22]:
# check for duplicate customer id's using len() and print the number of duplicates
print(len(df['mkt_carrier_fl_num']) - len(df['mkt_carrier_fl_num'].unique()))

193143

In [24]:
df['unique_mkt_carrier_fl_num'] = df['mkt_carrier'] + df['mkt_carrier_fl_num'].astype(str)

df.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,unique_mkt_carrier_fl_num
0,2018-05-31,WN,WN,WN,2081,WN,N402WN,2081,10800,BUR,...,0.0,0.0,51.0,0.0,0.0,NaN,NaN,NaN,NaN,WN2081
1,2019-04-20,AA,AA,AA,2244,AA,N895NN,2244,13930,ORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA2244
2,2019-02-13,WN,WN,WN,1731,WN,N8507C,1731,13495,MSY,...,0.0,0.0,0.0,0.0,18.0,NaN,NaN,NaN,NaN,WN1731
3,2018-11-20,AA,AA,AA,2620,AA,N961AN,2620,11298,DFW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA2620
4,2018-08-28,DL,DL_CODESHARE,DL,4060,9E,N833AY,4060,12478,JFK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL4060

In [25]:
# check for duplicate customer id's using len() and print the number of duplicates
print(len(df['unique_mkt_carrier_fl_num']) - len(df['unique_mkt_carrier_fl_num'].unique()))

170335